[user]
name = aurelienlair
email = aurelien.lair@gmail.com

[core]
	editor = vim
	pager = less -FRX
	excludesfile = ~/.gitignore

[blame]
	coloring = repeatedLines

[fetch]
	prune = true
	output = compact

[pull]
	default = simple

[push]
	default = current

[rerere]
	enabled = false

[stash]
	showStat = true

[difftool]
	prompt = false

[merge]
	conflictStyle = diff3
	
[gist]
	private = yes

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "blame"]
	repeatedLines = gray

[color "interactive"]
	help = brightmagenta

[advice]
	statusHints = false
	detachedHead = false
	addEmptyPathspec = false
	pushUpdateRejected = false

[push]
	default = tracking
	
[alias]
	# branch
	b = branch
	newb = checkout -b
	
	# commit
	am = commit --amend --no-edit
	cia = commit --amend
	ci = commit
	cim = commit -m
	civ = commit -v
	
	co = checkout
	cp = cherry-pick
	
	# diff
	d = diff
	dc = diff --cached

	# log
	last = log -1
	lg = log --color --graph --date-order --pretty=format:'%C(bold magenta)%h %C(reset)-%C(auto)%d %C(reset)%s %C(blue)<%an> %C(reset)%C(green)%ar%C(cyan)(%ad)' --date=iso8601-strict
	ll = log --color --graph --date-order --pretty=format:'\
%C(auto)%d%C(yellow)%B%n\
%C(ul)Hash:%C(reset) %C(bold magenta)%H%n\
%C(ul)Author:%C(reset) %C(blue)%an<%ae> %C(reset)%C(green)%ar%C(cyan)(%ad)%n\
%C(ul)Committer:%C(reset) %C(blue)%cn<%ce> %C(reset)%C(green)%cr%C(cyan)(%cd)%n\
'  --stat --date=iso8601-strict
	lp = log --color --graph --date-order --pretty=format:'\
%C(auto)%d%C(yellow)%B%n\
%C(ul)Hash:%C(reset) %C(bold magenta)%H%n\
%C(ul)Author:%C(reset) %C(blue)%an<%ae> %C(reset)%C(green)%ar%C(cyan)(%ad)%n\
%C(ul)Committer:%C(reset) %C(blue)%cn<%ce> %C(reset)%C(green)%cr%C(cyan)(%cd)%n\
'  --stat --date=iso8601-strict --patch
g
	# merge
	mg = merge
	mgn = merge --no-ff
	mgs = merge --squash
	mgt = mergetool
	
	pl = pull
	plr = pull --rebase

	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip

	st = status --short --branch

	throw = reset --hard HEAD
	unstage = reset --soft HEAD --   # fileName here
