[user]
	name = Aurélien Lair
	email = aurelien.lair@gmail.com
[core]
	editor = /usr/bin/vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	ui = auto
[color "branch"]
	current = blue bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = blue bold
	untracked = red bold
[diff]
	tool = vimdiff
[alias]
    aliases = !git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"^[a-z]+\"
    st = !git stash list | wc -l 2>/dev/null | grep -oEi '[0-9][0-9]*'
    p = !git checkout master && git fetch && git pull --ff-only
    d = diff origin/master...HEAD
    df = diff --name-only origin/master...HEAD
    l = log --oneline
    lg = log --oneline --graph --decorate
    s = show
    sp = show -p
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
